

<div class="card">

  <img src="assets/login.png">
  <p></p>
  <h1 type ="title">Zwei-Faktor-Authentifizierung</h1>
  <p> </p>
  <p>Bitte geben Sie den 4-stelligen Code ein, der an Ihre E-Mail gesendet wurde . </p>
  <p>  </p>
  <p>Code</p>
  <input type="Code"/>
  <button>Bestätigen</button>
  <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
  <p style="font-size: 17px">Falls Sie keinen Code erhalten haben, klicken Sie
    <a href="http://localhost:8080/"> hier.</a> um ihn
    erneut zu senden.

  </p>

</div>
