<div class="card my-5" xmlns="http://www.w3.org/1999/html">
  <div class="card-body">
    <h1>Registrieren</h1>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">



      <div class="form-group">
        <label for="firstname">Vorname</label>
        <input type="text" [(ngModel)]="user.vorname"
               class="form-control"
               id="firstname"
               name="firstname"
               placeholder="Vorname"
               required #firstname="ngModel">
      </div>
      <div [hidden]="!firstname.pristine" class="alert alert-danger">Vorname eingeben!</div>
      <div class="form-group">
        <label for="lastname">Nachname</label>
        <input type="text" [(ngModel)]="user.nachname"
               class="form-control"
               id="lastname"
               name="lastname"
               placeholder="Nachname"
               required #lastname="ngModel">
        </div>
      <div [hidden]="!lastname.pristine" class="alert alert-danger">Nachname eingeben!</div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Email"
               required #email="ngModel">
      </div>
      <div [hidden]="!lastname.pristine" class="alert alert-danger">Email eingeben!</div>

      <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" [(ngModel)]="user.passwort"
               class="form-control"
               id="password"
               name="email"
               placeholder="Passwort"
               required #password="ngModel">
      </div>
      <div [hidden]="!lastname.pristine" class="alert alert-danger">Passwort eingeben!</div>
      <button  type="submit" [disabled]="!registerForm.form.valid"
              class="btn btn-info">Bestätigen</button>
    </form>

      <label >Geburtsdatum</label><br>
      <input type="date"><br>
    <div  class="alert alert-danger">Geburtsdatum eingeben!</div>

    <label>Bild</label><br>
    <input type="file"
           id="avatar" name="avatar"
           accept="image/png, image/jpeg">
  </div>
</div>
