<div class="card">
  <h1 type ="title">Profil bearbeiten </h1>
  <p>  </p>
  <p>Neuer Vorname</p>
  <input type="Vorname"/>

  <p>Neuer Nachname</p>
  <input type="Vorname"/>
  <p>Neue E-Mail</p>
  <input type="email"/>
  <p>Neue E-Mail wiederholen</p>
  <input type="email"/>
  <p>Neues Passwort</p>
  <input type="password"/>
  <p>Neues Passwort wiederholen</p>
  <input type="password"/>
  <button>Bestätigen</button>
  <p></p><p></p><p></p><p></p>
  <p style="font-size: 17px">
    Falls Sie ihr Profil doch nicht bearbeiten wollen, klicken Sie
    <a routerLink="/register">hier
    </a> .
  </p>
</div>


























