.tippTitle{

  font-size: 75px;
  font-family: Bahnschrift;
}
.header
{
  //background-color: white;
  box-shadow: 5px 2px 2px rgba(0,0,0,0.1);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.TIPP{
  margin-top: 20px;
}
