
<div class="card">
  <img src="assets/login.png">
  <h1 type ="title">Log-In </h1>
  <form action="/">
  <fieldset>
    <div>
      <input  type="radio" id="User" name="drone" value="User"
             checked >
      <label style=font-size:25px; for="User">User  </label>
    </div>
    <div>
      <input type="radio" id="Admin" name="drone" value="Admin">
      <label style=font-size:25px; for="Admin">Admin</label>
    </div>
  </fieldset>

  <p>  </p>
  <label> E-Mail</label>


    <input type="email"/>

    <label> Passwort</label>
    <input type="password"/>
    <button>Bestätigen</button>
    <p></p><p></p><p></p><p></p>
    <p style="font-size: 17px">
      Falls Sie keinen Account besitzen, müssen Sie sich zuerst
      <a routerLink="/register">registrieren
      </a> .
    </p>
  </form>



</div>
