
<div class="card">
  <img src="assets/login.png">
  <h1 type ="title">Log-In </h1>

  <fieldset>

    <div>

      <input  type="radio" id="User" name="drone" value="User"
             checked >
      <label style=font-size:25px; for="User">User  </label>
    </div>
    <div>
      <input type="radio" id="Admin" name="drone" value="Admin">
      <label style=font-size:25px; for="Admin">Admin</label>
    </div>
  </fieldset>

  <p>  </p>
  <p>E-Mail</p>
  <input type="email"/>
  <p>Passwort</p>
  <input type="password"/>
  <button>Bestätigen</button>
  <p></p><p></p><p></p><p></p>
  <p style="font-size: 20px">
    Falls Sie keinen Account besitzen, müssen Sie sich zuerst
      <a routerLink="/register">registrieren
      </a> .
  </p>

</div>
