<div class="card my-5">
  <div class="card-body">
    <h2>Log-In</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="firstname">Vorname</label>
        <input type="text" [(ngModel)]="user.vorname"
               class="form-control"
               id="firstname"
               name="firstname"
               placeholder="Vorname"
               required #firstname="ngModel">
      </div>
      <div [hidden]="!firstname.pristine" class="alert alert-danger">Vorname eingeben!</div>
      <div class="form-group">
        <label for="lastname">Nachname</label>
        <input type="text" [(ngModel)]="user.nachname"
               class="form-control"
               id="lastname"
               name="lastname"
               placeholder="Nachname"
               required #lastname="ngModel">
        <div [hidden]="!lastname.pristine" class="alert alert-danger">Nachname eingeben!</div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email address"
               required #email="ngModel">
        <div [hidden]="!email.pristine" class="alert alert-danger">Email eingeben!</div>
      </div>

      <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" [(ngModel)]="user.passwort"
               class="form-control"
               id="password"
               name="email"
               placeholder="Enter your email address"
               required #password="ngModel">
        <div [hidden]="!password.pristine" class="alert alert-danger">Passwort eingeben!</div>
      </div>
      <button  type="submit" [disabled]="!loginForm.form.valid"
               class="btn btn-info">Submit</button>

    </form>
  </div>
</div>
