<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of User">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td><button (click)="deleteStudent(user)" class="deletButton">Löschen</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
