
<div class="card">
  <h1> Liga erstellen </h1>
  <p>Erstellen Sie Ihre eigene Liga! </p>
  <p>  </p>
  <p>Bild</p>
  <input type="file"
         id="avatar" name="avatar"
         accept="image/png, image/jpeg">
  <p>Name</p>
  <input type="name"/>
  <p>Spielplan</p>
  <input id="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
  <p></p><p></p><p></p><p></p>
  <button>Bestätigen</button>
  <p></p><p></p><p></p><p></p>

</div>
